<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Category code</mat-label>
    <input matInput [(ngModel)]="data.categoryCode" [readonly]="readonly">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Region</mat-label>
    <input matInput [(ngModel)]="data.region" [readonly]="readonly">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" [readonly]="readonly">
  </mat-form-field>
</div>
