<div class="container-fluid">
  <h1>Demo Application</h1>

<!-- LOCALE TABS -->
  <mat-tab-group
    class="main-tab-group mt-2"
    [selectedIndex]="localeSelectedTab"
    (selectedTabChange)="localeTabChanged($event)">

    <mat-tab *ngFor="let localeTab of localeTabs; let tabIndex = index">
      <ng-template mat-tab-label>
        <mat-icon *ngIf="localeTab.tabData.defaultLocale">turned_in_not</mat-icon> {{ localeTab.title | uppercase }}
        <i class="material-icons" (click)="editLocaleTab(tabIndex, localeTab)">&nbsp;&nbsp;&nbsp;&nbsp;edit</i>
        <i class="material-icons" (click)="removeLocaleTab(tabIndex)" *ngIf="!localeTab.tabData.defaultLocale">close</i>

      </ng-template>
      <div>
        <app-tab-content [tab]="localeTab"></app-tab-content>

        {{ localeTab.tabData | json }}

      </div>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-icon-button (click)="addLocaleTab()">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

  <br><br><br><br>

<!-- LOCATION TABS -->
  <mat-tab-group
    class="main-tab-group mt-2"
    [selectedIndex]="locationSelectedTab"
    (selectedTabChange)="locationTabChanged($event)">

    <mat-tab *ngFor="let locationTab of locationTabs; let tabIndex = index">
      <ng-template mat-tab-label>
        <mat-icon *ngIf="locationTab.tabData.defaultLocation">turned_in_not</mat-icon> {{ locationTab.title | uppercase }}
        <i class="material-icons" (click)="editLocationTab(tabIndex, locationTab)">&nbsp;&nbsp;&nbsp;&nbsp;edit</i>
        <i class="material-icons" (click)="removeLocationTab(tabIndex)" *ngIf="!locationTab.tabData.defaultLocation">close</i>
      </ng-template>
      <div>
        <app-tab-content [tab]="locationTab"></app-tab-content>

        {{ locationTab.tabData | json }}

      </div>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-icon-button (click)="addLocationTab()">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</div>
