<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select [(ngModel)]="locale.language">
        <mat-option *ngFor="let language of languages" [value]="language">{{ language }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ locale.language }} description</mat-label>
      <textarea matInput [(ngModel)]="locale.description"></textarea>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="locale.defaultLocale" *ngIf="!defaultLocale && locale.language !== undefined">Make {{locale.language}} default</mat-checkbox>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click) = "save()"><mat-icon>save</mat-icon>Save</button>
  <button mat-button color="primary" (click) = "dismiss()"><mat-icon>cancel</mat-icon>Cancel</button>
</mat-dialog-actions>
